*{
    box-sizing: border-box;
}
body{
    align-content: center;
    background-color: rgb(238, 63, 101);
}
h2{
    font-family: cursive;
    font-size: 25px;
}
#navbar{
    background-color: yellow;
}
